@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --global-bg: #fdde00;
  transition: background-color 0.5s ease-out;
  background-color: var(--global-bg);
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.btn {
  @apply rounded-full font-normal text-white;
}

html * {
  @apply text-[#020227];
}

pre > code {
  display: block;
  background: #f1f1f1;
  padding: 1.33em;
  border-radius: 0.33em;
  white-space: break-spaces;
}
